<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
	<%- include('includes/sidebar.ejs') %>
    <div class="col-11">
        <h1 class="text-danger"><%=titulo%></h1>
    <div class="container">


        <br>
        <br>

        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Tipo</label>
                    <select id="inputState" class="form-control">
                        <option>Plantas</option>
                        <option>Plantas Madre</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Seleccion</label>
                    <select id="inputState" class="form-control">
                        <%for(let especie of especies) {%>
                            <option value="<%= especie.EspID %>"><%= especie.NombreEsp %></option>
                        <%}%>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="inputState">Fecha</label>
                    <input type="search" id="buscar" class="form-control" oninput="buscar()" placeholder="Buscar Fecha" aria-label="Search" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Razón de baja</label>
                            <select id="inputState" class="form-control">
                                <option selected>Muerte</option>
                                <option>Donacion otorgada</option>
                                <option>Venta</option>
                            </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="disabledTextInput">Minimo</label>
                    <input type="text" id="disabledTextInput" class="form-control"
                        placeholder="Rango Minimo de IDs">
                </div>
                <div class="form-group col-md-4">
                    <label for="disabledTextInput">Maximo</label>
                    <input type="text" id="disabledTextInput" class="form-control"
                        placeholder="Rango Maximo de IDs">
                </div>
            </div>
            <br>
            <div >
                <a class="btn btn-secondary" href="/">Cancelar</a>
                <button class="btn btn-danger" onclick="">Baja</button>
            </div>
        </form>

        <%- include('includes/tabla_baja.ejs') %>


	<%- include('includes/endcontainer.ejs') %>
<%- include('includes/footer.ejs') %>