<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
	<%- include('includes/sidebar.ejs') %>
    <div class="col-11">
        <h1><%=titulo%></h1>
    <div class="container">


        <br>
        <br>

        <form>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Nombre científico</label>
                        <select id="inputState" class="form-control" name="especie">
                            <%for(let especie of especies) {%>
                                <option value="<%= especie.EspID %>"><%= especie.NombreEsp %></option>
                            <%}%>
                        </select>
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Destino de Plantula</label>
                            <select id="inputState" class="form-control">
                                <option>Transplante</option>
                                <option>Donación otorgada</option>
                                <option>Venta</option>
                            </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="disabledTextInput"> Cantidad</label>
                    <input type="text" id="disabledTextInput" class="form-control"
                        placeholder="Introduce un numero">
                </div>
            </div>
            <br>
            <div >
                <a class="btn btn-secondary" href="/">Cancelar</a>
                <input type="submit" name="enviar"  class="btn btn-warning" value="Baja"> 
            </div>
        </form>

	<%- include('includes/endcontainer.ejs') %>
<%- include('includes/footer.ejs') %>