<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
	<%- include('includes/sidebar.ejs') %>
    <div class="col-11">
        <h1><%=titulo%></h1>
    <div class="container">

        <br>
        <br>

        <form action="plantasMadreAlta" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Seleccion</label>
                    <select id="inputState" class="form-control" name="especie">
                        <%for(let especie of especies) {%>
                            <option value="<%= especie.EspID %>"><%= especie.NombreEsp %></option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Zona</label>
                    <select id="inputState" class="form-control" name="zona">
                        <option value="4">JARDIN XENÓFILO 1 </option>
                        <option value="5">JARDIN XENÓFILO 2 </option>
                        <option value="6">JARDIN XENÓFILO 3</option>
                        <option value="3">MALLA SOMBRA</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Razón de traslado</label>
                            <select id="inputState" class="form-control" name="razon">
                                <option selected value="6">Adquiridas</option>
                                <option value="5">Donacion recibida</option>
                                <option value="7">Reproduccion</option>
                            </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="disabledTextInput">Cantidad</label>
                    <input type="number" id="disabledTextInput" class="form-control" name="cantidad" placeholder="Introduce un numero">
                </div>
            </div>
            <br>
            <div >
                <a class="btn btn-secondary" href="/">Cancelar</a>
                <button type="submit" class="btn btn-success">Alta</button>
            </div>
        </form>

	<%- include('includes/endcontainer.ejs') %>
<%- include('includes/footer.ejs') %>