<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
	<%- include('includes/sidebar.ejs') %>
    <div class="col-11">
        <h1><%=titulo%></h1>
    <div class="container">


        <br>
        <br>

        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Seleccion</label>
                    <select id="inputState" class="form-control">
                        <%for(let especie of especies) {%>
                            <option value="<%= especie.EspID %>"><%= especie.NombreEsp %></option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Razon de Baja</label>
                            <select id="inputState" class="form-control">
                                <option selected>Germinacion</option>
                                <option>Venta</option>
                                <option>Donacion</option>
                                <option>Otra</option>
                            </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="disabledTextInput"> Cantidad</label>
                    <input type="text" id="disabledTextInput" class="form-control"
                        placeholder="Introduce un numero">
                </div>
            </div>
            <br>
            <div >
                <a class="btn btn-secondary" href="/">Cancelar</a>
                <button class="btn btn-success" onclick="">Alta</button>
            </div>
        </form>

	<%- include('includes/endcontainer.ejs') %>
<%- include('includes/footer.ejs') %>